---
# Ubuntu equivalent of: https://github.com/trimstray/the-practical-linux-hardening-guide/wiki/SELinux
# Ubuntu uses AppArmor (not SELinux) as its mandatory access control system

- name: AppArmor (Ubuntu MAC Hardening)
  hosts: all
  become: yes

  tasks:
    - name: Install AppArmor utilities
      apt:
        name: apparmor-utils
        state: present

    - name: Ensure AppArmor service is enabled and started
      systemd:
        name: apparmor
        enabled: true
        state: started

    - name: Check for AppArmor profiles in complain mode
      command: apparmor_status
      register: apparmor_complain_check
      changed_when: false

    - name: Set all AppArmor profiles to enforcing mode
      shell: aa-enforce /etc/apparmor.d/*
      args:
        executable: /bin/bash
      changed_when: >
        (apparmor_complain_check.stdout | default('')) is match('.*[1-9][0-9]* profiles are in complain mode.*')

    - name: Remove apparmor=0 from GRUB
      replace:
        path: /etc/default/grub
        regexp: '\s*apparmor=0\s*'
        replace: ''
      register: grub_apparmor_remove

    - name: Update GRUB after config change
      command: update-grub
      when: grub_apparmor_remove is changed

    - name: Check AppArmor status for unconfined/complain profiles
      command: apparmor_status
      register: apparmor_status
      changed_when: false
      failed_when: false

    - name: Alert on AppArmor profiles in complain mode
      debug:
        msg: |
          AppArmor has profiles in complain mode. Review with: apparmor_status
          Consider: aa-enforce /etc/apparmor.d/<profile>
          {{ apparmor_status.stdout | default('') }}
      when: >
        (apparmor_status.stdout | default('')) is match('.*[1-9][0-9]* profiles are in complain mode.*')
