---
# DevSec Linux Baseline - Network and kernel sysctl hardening
# https://dev-sec.io/baselines/linux/ - sysctl-01 through sysctl-28

- name: Sysctl Network Hardening (DevSec)
  hosts: all
  become: yes
  vars:
    sysctl_forwarding: false

  tasks:
    - name: Configure sysctl network hardening
      template:
        src: sysctl-devsec-network.conf.j2
        dest: /etc/sysctl.d/99-devsec-network.conf
        mode: '0644'

    - name: Apply sysctl settings
      command: sysctl -p /etc/sysctl.d/99-devsec-network.conf
      changed_when: false
